<tr id="index-"{{id}} class="t-row is-fullwidth">
    <td id="selectDirRow"><input type="checkbox"></td>
    <td id="deptIcon"><img src="/img/profileicon.png" id="small_icon"></td>
    <td id="deptDir">{{name}}</td>
    <td id="supEmail">{{supervisor}}</td>
</tr>