<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Employee Aide</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
{{!-- {{#if loggedIn}} --}}
    {{{body}}}
    <script src="/javascript/navbardropdown.js"></script>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/editEmployee.js"></script>

{{!-- I only included the closing body tag out here because some pages have a specific class added to the body's html so that it extends the full height. --}}
</body>
</html>