<body id="directoryPage" class="maxHt">
    <div class="maxHt columns is-tablet is-centered p-0">
        {{>employee-left-nav}}

        {{!-- <!--page information for the right column--> --}}
        <div id="right-content" class="maxHt column is-full-mobile mx-0 p-0">
            <div class="is-fullwidth">
                {{>top-nav}}
                {{!-- <!--information located on top of page, company name and page path--> --}}
                <section id="companyName" class="pt-2">
                    <p id="titleName" class="title pl-6 pt-3 pb-2 is-size-3 has-text-weight-normal">Company name</p>
                    <p id ="pagePath"class="subtitle py-1 pl-6 is-size-6">Employee Directory</p>
                </section>
                {{!-- <!--the part of the page where the content differs. --> --}}
                <section id="page-content" class = "pr-3">      
                    {{!-- <!--wrapped all the content in a container so would be able to center it-->       --}}
                    <div class="table-section mx-auto pb-6">
                        <div class="columns mx-0 mt-2 is-multiline is-mobile">
                            {{!-- <!--Search input--> --}}
                            <div class="column is-narrow p-0  my-1 mr-2">
                                <input id="searchBar" placeholder="Search" class="has-text-centered">
                            </div>
                            {{!-- <!--buttons for actions will appear besides the search input in mobile--> --}}
                            <div id="pageButtons" class="field is-grouped column p-0  my-1 is-hidden-desktop is-mobile has-text-right">
                                {{!-- <!--buttons to edit/create/or remove content from the directory--> --}}
                                <a href="./api/addemployee" class="pageBtnM my-0 py-2 button has-text-centered is-responsive has-text-weight-normal ">Add employee</a>
                                <button class="pageBtnM button has-text-centered my-0 py-2 is-responsive has-text-weight-normal">Edit employee</button>
                                <button id="removeBtn" class="pageBtnM button my-0 py-2 has-text-centered is-responsive has-text-weight-normal ">Remove employees</button>
                            </div>
                        </div>
                        
                        {{!-- <!--Actual Table information--> --}}
                        <div class="tableWrap is-fullwidth">
                            <!--This table is the header, had to be seperated to add space between the header and the data-->
                            <table id="filterBy" class="table mb-2 is-fullwidth">
                                <thead class="dir is-fullwidth">
                                    <tr>
                                        <th id="selectDirRow" class="has-text-weight-bold has-text-centered"><input type="checkbox" disabled></th>
                                        <th id="icon" class="has-text-weight-bold has-text-centered"><img src="/img/profileicon.png" id="small_icon"></th>
                                        <th id="name" class="has-text-weight-bold has-text-centered">Full Name</th>
                                        <th id="email" class="has-text-weight-bold has-text-centered">Work Email</th>
                                        <th id="dept" class="has-text-weight-bold has-text-centered ">Department</th>
                                        <th id="start-date" class="has-text-weight-bold has-text-centered">Start Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>                       
                        {{!-- <!--This is the table holding all the information of the database-->
                        <!--wrapped in a div so to apply a border around it--> --}}
                        <div class="table-container tableWrap is-fullwidth">
                            <table id="directory" class ="table is-fullwidth is-hoverable">
                                <tbody class="is-fullwidth">
                                    {{!-- <!--/////////////////////////////////////////////////////////////////-->
                                    <!--This information will be added dynamically, placeholders for now-->
                                    <!--leave this first row as sample--> --}}
                                    <tr id="index-1" class="t-row is-fullwidth">
                                        <td id="selectDirRow" class="has-text-centered"><input type="checkbox"></td>
                                        <td id="icon" class="has-text-centered"><img src="/img/profileicon.png" id="small_icon"></th>
                                        <td id="name" class="has-text-centered"><a src="">Employee 1</a></td>
                                        <td id="email"class="has-text-centered">Employee1.lastName@company.com</td>
                                        <td id="dept"class="has-text-centered">Information Technology</td>
                                        <td id="start-date"class="has-text-centered">6/24/24</td>
                                    </tr>
                                    {{!-- <!--For each employee from the employee database, the data will fill up the table--> --}}
                                    {{#each employees}}
                                        {{>employee-row}}
                                    {{/each}}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>