:root{
    --primaryTeal: #375760;
    --secondaryTeal: #5c8E8D;
    --accent:#CC9466;
    --pageBg: #F1F1F1;
    --darkGray: #C8CeC2;
    --lightGray: #EFEFED;
    box-sizing:border-box;
}

.welcome {
    font-size: 3rem;
}

.card {
    background-color: var(--lightGray);
    border-radius: 15px;
}

.input {
    border-radius: 7px;
    background-color: rgba(249, 249, 249, 0.992);
    color: var(--darkGray);
}

#or p {
    justify-content: center;
    text-align: center;
}


#view button {
    border-radius: 15px;
}

html{
    height:100%;
}

body{
    height:100%;
    background-color: var(--pageBg);
}

#left-nav{
    background: linear-gradient(45deg, var(--primaryTeal), var(--secondaryTeal));
    max-height:100%;
}

#userProfile{
    font-size:24px;
    color:var(--lightGray);
}
.navButtons{
    height:200px;
}

.pageButtons{
    height:200px;
}

.button{
    text-align:center;
    color:var(--lightGray);
    border:none;
    border-radius:5px;
    box-shadow: 3px 3px var(--primaryTeal);
    font-size:18px;
}

.navBtn{
    background-color:var(--secondaryTeal);
}

.pageBtn{
    background-color:var(--accent);
}

#removeBtn{
    background-color:var(--darkGray);
    color:var(--primaryTeal);
}

.table thead{
    background-color: var(--secondaryTeal);
}

.table thead td{
    color:var(--lightGray);
    background-color: var(--secondaryTeal);
}

#titleName{
    color: var(--primaryTeal);
}

#companyName{
    color: var(--primaryTeal);
}

#pagePath{
    background-color:var(--darkGray);
}

#profileBlock {
    background-color: var(--secondaryTeal);
    margin: 50px 30px 30px 40px;
    border-radius: 15px;
}

#profileInfo {
    background-color: var(--secondaryTeal);
    border-radius: 30px;
    padding: 12px;
    margin: 0px 10px 0px 10px;
}

#blockHeader {
    color: var(--lightGray);
    background-color: var(--secondaryTeal);
    margin-left: 7px;
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
}

#jobHeader {
    color: var(--accent);
    background-color: var(--lightGray);
    margin-left: 25px;
    margin-right: 15px;
    text-align: justify;
    border-radius: 15px;
    padding: 10px;
}

#jobBlock {
    background-color: var(--lightGray);
    margin-left: 255px;
    margin-right: 15px;
    border-radius: 10px;
}

#jobInfo{
    margin-right: 20px;
}

#profileImg2 {
    padding: 60px;
    margin-left: 16px;
    background-color: var(--secondaryTeal);

}

#imgHolder {
    background-color: var(--secondaryTeal);
    border-radius: 10px;
    margin-bottom: 25px;
}

#employeeHolder {
    background-color: var(--lightGray);
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: -30px;
    margin-left: 25px;
    margin-right: 20px;
    padding: 0px 20px 0px 20px;
}

#employeeName2 {
    color: var(--lightGray);
    background-color: var(--secondaryTeal);
    text-align: left;
    margin: auto;
    align-self: flex-start;   
}

#workInfo{
    color: var(--lightGray);
    background-color: var(--secondaryTeal);
    align-items:flex-start;
    margin-left: 300px;
    margin-top: -30px;

}

#workBlock{
    margin: 0px 0px 0px 0px;
}

#emailData {
    color: var(--lightGray);
    padding: 0px;
    margin-top: -15px;
}

#phoneInfo {
    color: var(--lightGray);
    background-color: var(--secondaryTeal);
    align-items:flex-start;
    margin-top: 0px;
    margin-left: 300px;
}

#phoneData {
    color: var(--lightGray);
    padding: 0px;
    margin-top: -15px;
    margin-left: 320px;
}

#idInfo{
    color: var(--lightGray);
    background-color: var(--secondaryTeal);
    align-items:flex-start;
    margin-top: 5px;
    margin-left: 305px;
}

#idData{
    color: var(--lightGray);
    padding: 0px;
    margin-top: -15px;
    margin-left: 335px;
}

#jobHolder{
    margin-top: -50px;
}

#employeeBlock{
    background-color: var(--lightGray);
    padding: 30px 0px 0px 30px;
    margin-right: 20px;
    margin-top: 10px;
}

#roleInfo{
    padding: 0px 0px 20px 0px;
    margin-left: -45px;
}

#roleData{
    margin-top:-55px;
    margin-left: 130px;
}

#deptInfo{
    margin-left: -55px;
    margin-top: -10px;
}

#deptData{
    margin-left: 130px;
    margin-top: -50px;
}

#managerInfo{
    margin-left: -55px;
    margin-top: -10px;
}

#managerData{
    margin-left: 130px;
    margin-top: -48px;
}

#salaryInfo{
    margin-left: -55px;
    margin-top: -10px;
}

#salaryData{
    margin-left: 130px;
    margin-top: -50px;
}
