:root{
    --primaryTeal: #375760;
    --secondaryTeal: #5c8E8D;
    --accent:#CC9466;
    --pageBg: #F1F1F1;
    --darkGray: #C8CeC2;
    --lightGray: #EFEFED;
    box-sizing:border-box;
}

.bg-log-in {
    background-image: url('../images/signInPagebg_Sign\ Up\ Page.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#button1 {
    margin-top: 15%;
    border-radius: 7px;
    width: 100%;
    background-color: var(--accent);
    color: var(--pageBg);
    font-weight: 500;
}

#button2 {
    margin-top: 15%;
    border-radius: 7px;
    width: 100%;
    background-color: var(--accent);
    color: var(--pageBg);
    font-weight: 500;
}

.welcome {
    font-size: 3rem;
}

.card {
    background-color: var(--lightGray);
    border-radius: 15px;
}

.input {
    border-radius: 7px;
    background-color: rgba(249, 249, 249, 0.992);
    color: var(--darkGray);
}

#or p {
    justify-content: center;
    text-align: center;
}


#view button {
    border-radius: 15px;
}

html{
    height:100%;
}

body{
    height:100%;
    background-color: var(--pageBg);
}

#left-nav{
    background: linear-gradient(45deg, var(--primaryTeal), var(--secondaryTeal));
    max-height:100%;
}

#userProfile{
    font-size:24px;
    color:var(--lightGray);
}
.navButtons{
    height:200px;
}

.pageButtons{
    height:200px;
}

.button{
    text-align:center;
    color:var(--lightGray);
    border:none;
    border-radius:5px;
    box-shadow: 3px 3px var(--primaryTeal);
    font-size:18px;
}

.navBtn{
    background-color:var(--secondaryTeal);
}

.pageBtn{
    background-color:var(--accent);
}

#removeBtn{
    background-color:var(--darkGray);
    color:var(--primaryTeal);
}

.table thead{
    background-color: var(--secondaryTeal);
}

.table thead td{
    color:var(--lightGray);
    background-color: var(--secondaryTeal);
}
